---
import BaseLayout from '~layouts/BaseLayout.astro'
import Breadcrumbs from '~components/Breadcrumbs.astro'
import Card from '~components/Card.astro'
import Flourish from '~components/Flourish.astro'

import bannerImage from '../../images/RememberingTogetherDG_imageGregorAnderson_croppedHorizontal.jpg'
import postards from '../../images/postcards.webp'
import dumfries from '../../images/RememberingTogetherDG_imageGregorAnderson_croppedHorizontal.jpg'
import moffat from '../../images/RT_Dumfries_Celebration_72dpi-126.jpg'
const bannerAlt =
  'Ribbon image of Remembering Together D&G event, with memory ribbons fluttering in the wind and event visitors gating arround a table in the background.'
const flourishClasses = ['--greywillow', 'dropcap', '--dc-cerise-800']
---

<BaseLayout
  pageTitle="Stories & Archive"
  bannerImage={bannerImage}
  bannerAlt={bannerAlt}
>
  <main id="main">
    <div class="container stack">
      <div class="stack pl-5-ns pr-5-ns pt-4-ns">
        <Breadcrumbs />
        <Flourish classes={flourishClasses}>
          <p>
            <b>Visit the following pages to learn more</b> about the Dispersed Memorial
            Forest Phase 1 tools and techniques used to cocreate the Dispersed Memorial
            Forest, and hear interviews from community members about thier expreices
            during the Covid Lockdowns:
          </p>
        </Flourish>
        <div class="cards__wrap">
          <ul class="flex flex-wrap justify-center list pa-0">
            <li class="grow card_wrap">
              <a href="./castle-douglas">
                <Card
                  title="Postcards"
                  imgUrl={postards}
                  alt=""
                  headerHeight="150px"
                  imagePosition="center 17%"
                  alt="Katie Anderson, and ts Beall"
                  wrapClasses="relative grid ma-2 bg-surface-1 br2 overflow-hidden shadow-1 link  "
                  headerClasses="relative flex-column flex justify-end bg-brand-teal-dk relative br-2"
                  headingWrapClasses="absolute w-100 pl-3 header-img-gradent"
                  headingClasses="f3 brand-yellow-lt ma-2"
                />
              </a>
            </li>
            <li class="grow card_wrap">
              <a href="./dumfries">
                <Card
                  title="Tree of Rememberance"
                  imgUrl={dumfries}
                  alt=""
                  headerHeight="150px"
                  imagePosition="center 17%"
                  wrapClasses="grid ma-2 bg-surface-1 br2 overflow-hidden shadow-1"
                  headerClasses="relative flex-column flex justify-end bg-brand-teal-dk relative br-2"
                  headingWrapClasses="absolute w-100 pl-3 header-img-gradent"
                  headingClasses="f3 brand-yellow-lt ma-2"
                />
              </a>
            </li>
            <li class="grow card_wrap">
              <a href="./moffat">
                <Card
                  title="Covid Interviews"
                  imgUrl={moffat}
                  alt=""
                  headerHeight="150px"
                  imagePosition="center 17%"
                  wrapClasses="grid ma-2 bg-surface-1 br2 overflow-hidden shadow-1"
                  headerClasses="relative flex-column flex justify-end bg-brand-teal-dk relative br-2"
                  headingWrapClasses="absolute w-100 pl-3 header-img-gradent"
                  headingClasses="f3 brand-yellow-lt ma-2"
                />
              </a>
            </li>
          </ul>
        </div>
        <hr />
        <p>
          <b>Visiting:</b>
          <a href="../visit/" class="link"
            >Follow this link to learn how you can visit the Dispersed Memorial
            Forest.</a
          >
        </p>
      </div>
    </div>
  </main>
</BaseLayout>
<style is:global>
  .card__wrap:focus-within {
    outline: 1px solid #000;
  }

  @media (max-width: 800px) {
    .card {
      width: 250px;
      max-width: 100%;
    }

    .card__head picture,
    .card__head picture > * {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @media (max-width: 300px) {
    .card {
      width: 100%;
    }
  }
</style>
