---
import BaseLayout from '~/layouts/BaseLayout.astro'
import Breadcrumbs from '~components/Breadcrumbs.astro'
import Flourish from '~components/Flourish.astro'
import Gallery from '~components/Gallery.astro'
import BannerImage from '../../images/banners/phase-1-banner.jpg'

const pageTitle = 'Phase 1: Conversations'
const bannerAlt =
  'Remembering Together Phase 1 Workshop, image by Colin Tennant'
const flourishClasses = ['--aspen', 'dropcap', '--dc-forest-700']
const collectionId = 'albums'
const albumId = 'phase_1'

// inset gallery
import img1 from '../../images/1_phase_1_page_image_1852.jpg'
import img2 from '../../images/2_phase_1_image_1841.jpg'
import img3 from '../../images/3_remembering_together_wbf22_colin_tennant.jpg'
import img4 from '../../images/4_phase_1_page.jpg'
---

<BaseLayout
  pageTitle={pageTitle}
  bannerImage={BannerImage}
  bannerAlt={bannerAlt}
>
  <main id="main">
    <div class="container stack">
      <div class="stack pl-5-ns pr-5-ns pt-4-ns">
        <Breadcrumbs />
        <div class="markdown-content">
          <Flourish classes={flourishClasses}>
            <p>
              <b>In Dumfries and Galloway</b>, Commissioned <a
                href="../../about/the-artists/"
                >Artists t s Beall and Katie Anderson</a
              > worked with communities to collaboratively design and plant <i
                >The Dispersed Memorial Forest</i
              > across the region. The artists began working with communities in
              2022, exploring how to remember and honour those impacted by Covid.
              Between July-December 2022 (Phase 1), the artists brought a sculptural
              <i>Tree of Remembrance</i> to seven public events across D&G, including
              <i>Wigton Book Festival</i>, <i
                >Stranraer Unexpected Garden Festival</i
              >, <i>The Kirkcudbright Light Festival</i>, and the <i
                >Dumfries Rood Fair</i
              >.
            </p>

            <p>
              The artists also hosted more intimate postcard-making workshops
              and conversational events with community groups – including NHS
              staff, young people with special needs, New Scots, unpaid carers,
              and others who were not well represented through the larger public
              events. These activities were designed to encourage people to
              share their experiences, and to help decide the shape of D&G’s
              Covid Memorial.
            </p>
            <Gallery
              images={[img1, img2, img3, img4]}
              galleryWraperClasses={'m3 pa-2 bt bb b--desert-300'}
              cellFormat={'square'}
              targetCellHeight={180}
              galleryUlClasses={'pa-0 list flex flex-wrap gap-2 justify-center'}
              cellLiClasses={'pa-0 ma-0 shadow-hover grow'}
              cellClasses={'pa-0 ma-0 bg-brand-purple br1'}
            />
            <p>
              In workshops and conversations, the artists spoke to approximately
              835 people from Stranraer to Sanquhar. Through those
              conversations, people across D&G shared their experiences and
              ideas for what shape or form the Covid memorial might take. The
              artists then created a bespoke set of <i>Conversation Cards</i> with
              the ideas and experiences gathered, and shared these with individuals
              and groups to help identify and refine a proposal for the Covid memorial.
            </p>

            <p>
              From all of these events, activities, and conversations, three key
              elements for the memorial emerged: <i
                >The Dispersed Memorial Forest</i
              >, a series of Tree Planting and Community Gathering events, and
              an Archive sharing stories of loss and resilience from across the
              region. The artists asked what people wanted to remember about
              lockdown, and what they wished they could forget or let go off.
              Some of their answers, collected as a series of postcards, are
              inscribed into the sculptural markers that are installed on each
              forest site.
            </p>
          </Flourish>
          <br />
          <b>Learn more about the project:</b>
          <a href="../../about/phase-2">Phase 2</a>
          <hr />
        </div>
        <div class="gallery__wrap">
          {
            collectionId && albumId ? (
              <Gallery
                collectionId={collectionId}
                albumId={albumId}
                galleryWraperClasses={'nt-4'}
                galleryUlClasses={
                  'pa-0 list flex flex-wrap gap-2 justify-center'
                }
                cellLiClasses={'pa-0 ma-0 shadow-hover grow'}
                cellClasses={'pa-0 ma-0 bg-brand-purple br1'}
              />
            ) : null
          }
        </div>
      </div>
    </div>
  </main>
</BaseLayout>
