---
import Flourish from '~components/Flourish.astro'
import Gallery from '~components/Gallery.astro'
import BaseLayout from '~/layouts/BaseLayout.astro'
import BannerImage from '../../images/RememberingTogetherWBF22LowRes74_ImageColinTennant.jpg'
const pageTitle = 'The Story&colon; D&G’s Covid Memorial'
const bannerAlt =
  'Remembering Together Phase 1 Workshop, image by Colin Tennant'
const flourishClasses = ['--alder', 'dropcap', '--dc-cerise-800']
const collectionId = 'albums'
const albumId = 'foo'

// inset gallery
import img1 from '../../images/ImageCredit_tsBeall_IMG_2538.webp'
import img2 from '../../images/dispersed-forrest-map.jpg'
import img3 from '../../images/RT-road-signage.jpg'
import img4 from '../../images/AlderTreegrowingoutofTreeTube_Threave.jpg'
---

<BaseLayout
  pageTitle={pageTitle}
  bannerImage={BannerImage}
  bannerAlt={bannerAlt}
>
  <main id="main">
    <div class="container stack">
      <div class="stack pl-5-ns pr-5-ns pt-4-ns">
        <div class="markdown-content">
          <Flourish classes={flourishClasses}>
            <p>
              The Covid Memorial for Scotland’s Dumfries and Galloway is a
              memorial forest, planted across the region in five locations: <a
                href="../visit/castle-douglas">Castle Douglas</a
              >, <a href="../visit/dumfries">Dumfries</a>, <a
                href="../visit/moffat">Moffat</a
              >, <a href="../visit/sanquhar">Sanquhar</a>, and <a
                href="../visit/stranraer">Stranraer</a
              >. Over 400 native trees were planted as a way to remember and
              honour each person who died from COVID-19 in the region.
              Additional trees were planted to represent other types of loss,
              and the ways communities came together over the pandemic.
            </p>
          </Flourish>
          <i>The Memorial Forest</i>
          is part of Scotland-wide project, <a
            href="https://www.rememberingtogether.scot/">Remembering Together</a
          >, which worked between 2022-24 to co-create memorials to honour those
          we lost, mark what has changed in our lives, and preserve the best of
          what we learned and created together during the Covid pandemic.
          Artists and creative organisations were commissioned in each of
          Scotland’s 32 local authority areas.

          <Gallery
            images={[img1, img2, img3, img4]}
            galleryWraperClasses={'m3 pa-2 bt bb b--desert-300'}
            targetCellHeight={130}
            cellFormat={'square'}
            galleryUlClasses={'pa-0 list flex flex-wrap gap-2 justify-center'}
            cellLiClasses={'pa-0 ma-0 shadow-hover grow'}
            cellClasses={'pa-0 ma-0 bg-brand-purple br1'}
          />

          <p>
            In Dumfries & Galloway, <a href="../about/the-artists/"
              >commissioned artists</a
            > t s Beall and Katie Anderson worked with communities to collaboratively
            design and plant <i>The Dispersed Memorial Forest</i> across the region.
            The artists began working with communities in 2022, exploring how to
            remember and honour those impacted by Covid. Between July-December 2022
            (<a href="./phase-1">Phase 1</a>), the artists brought a sculptural
            ‘<a href="">Tree of Remembrance</a>’ to public events across D&G,
            and hosted postcard-making workshops and conversational events with
            community groups –– including NHS staff, unpaid carers, young
            people, and New Scots. These activities were designed to encourage
            people to share their experiences, and to help decide the shape of
            D&G’s Covid Memorial.
          </p>

          <p>
            In workshops and conversations during <a href="./phase-1">Phase 1</a
            >, the artists spoke to over 800 people from towns and communities
            across the region. Through those conversations, three key elements
            for the memorial emerged: <i>The Dispersed Memorial Forest</i>, a
            series of <a href="">Tree Planting and Community Gathering events</a
            >, and an <a href="">Archive</a> sharing stories of loss and resilience
            from across the region. The artists asked what people wanted to remember
            about lockdown, and what they wished they could forget, or let go of.
            Some of their answers, collected as a series of <a href=""
              >postcards</a
            > and
            <a href="">ribbons</a>, are inscribed into the <a href=""
              >sculptural markers</a
            > that are installed on each forest site.
          </p>

          <p>
            <h3>Partners & Funders</h3>
            <i>Remembering Together D&G</i> was commissioned by <a
              href="https://www.greenspacescotland.org.uk/"
              >Greenspace Scotland</a
            >
            <a
              href="https://dgunlimited.org/"
              rel="noopener noreferrer nofollow">DG Unlimited</a
            > and <a href="https://www.dumgal.gov.uk/"
              >Dumfries & Galloway Council</a
            > with funding from the
            <a href="https://www.gov.scot/">Scottish Government</a>.
          </p>
          <p>
            Site Partners for <i>The Dispersed Memorial Forest</i> include <a
              href="">NHS Dumfries and Galloway</a
            > (at GCH in Stranraer, and Mountainhall Treatment Centre in Dumfries),
            <a href="">NTS Threave Estate and Gardens</a> in Castle Douglas, <a
              href="">Moffat Community Nature Reserve</a
            >, <a href="">Sanquhar Community Council</a>, and <a href=""
              >The Crichton Estate</a
            > in Dumfries.
          </p>
          <br />
          <b
            >Learn more about the project: <a href="./phase-1">Phase 1</a> and <a
              href="">Phase 2</a
            >.</b
          >
          <hr />
        </div>
        <div class="gallery__wrap">
          {
            collectionId && albumId ? (
              <Gallery
                collectionId={collectionId}
                albumId={albumId}
                galleryWraperClasses={'nt-4'}
                galleryUlClasses={
                  'pa-0 list flex flex-wrap gap-2 justify-center'
                }
                cellLiClasses={'pa-0 ma-0 shadow-hover grow'}
                cellClasses={'pa-0 ma-0 bg-brand-purple br1'}
              />
            ) : null
          }
        </div>
      </div>
    </div>
  </main>
</BaseLayout>
