---
import BaseLayout from '~/layouts/BaseLayout.astro'
import BannerImage from '../../images/RememberingTogetherWBF22LowRes74_ImageColinTennant.jpg'
import Breadcrumbs from '~components/Breadcrumbs.astro'
import Flourish from '~components/Flourish.astro'
import Gallery from '~components/Gallery.astro'
const pageTitle = 'The Story&colon; D&G’s Covid Memorial'
const bannerAlt =
  'Remembering Together Phase 1 Workshop, image by Colin Tennant'
const flourishClasses = ['--alder', 'dropcap', '--dc-cerise-800']
// const collectionId = 'albums'
// const albumId = ''

// inset gallery
import img1 from '../../images/4-rememberingtogetherdg_whatdoyouwanttoremember_imagetsbeall_unexpected_garden.jpg'
import img2 from '../../images/RememberingTogetherDG_Stranraer_10-09-2022_imagetsBeall_09.jpg'
import img3 from '../../images/RememberingTogetherWBF22LowRes57__ImageColinTennant.jpg'
import img4 from '../../images/3-RememberingTogetherDG_A-Nurses-Wish_Postcard_imagetsBeall.jpg'

import img5 from '../../images/RememberingTogetherDG_TreePlanting_STRANRAER_72dpi-106.jpg'
import img6 from '../../images/2-RememberingTogetherDG_Stranraer_Leanne-and-May_10092022_imageGregor.jpg'
import img7 from '../../images/RememberingTogetherDG_TreePlanting_STRANRAER_72dpi-3.jpg'
import img8 from '../../images/planting-dumfries.jpg'
---

<BaseLayout
  pageTitle={pageTitle}
  bannerImage={BannerImage}
  bannerAlt={bannerAlt}
>
  <main id="main">
    <div class="container stack">
      <div class="stack pl-5-ns pr-5-ns pt-4-ns">
        <Breadcrumbs />
        <div class="markdown-content">
          <h2 class="mt-0">The Dispersed Memorial Forest</h2>
          <h3 class="mb-4">
            A Community Covid Memorial for Dumfries and Galloway
          </h3>
          <Flourish classes={flourishClasses}>
            <p>
              <b>The Covid Memorial for Scotland’s Dumfries and Galloway</b> is a
              memorial forest, planted across the region in five locations: <a
                href="../../visit/castle-douglas">Castle Douglas</a
              >, <a href="../../visit/dumfries">Dumfries</a>, <a
                href="../../visit/moffat">Moffat</a
              >, <a href="../../visit/sanquhar">Sanquhar</a>, and <a
                href="../../visit/stranraer">Stranraer</a
              >. Over 400 native trees were planted as a way to remember and
              honour each person who died from COVID-19 in the region.
              Additional trees were planted to represent other types of loss,
              and the ways communities came together over the pandemic.
            </p>
          </Flourish>
          <p>
            <i>The Dispersed Memorial Forest</i>
            is part of Scotland-wide project, <a
              href="https://www.rememberingtogether.scot/"
              >Remembering Together</a
            >, which worked between 2022-24 to co-create memorials to honour
            those we lost, mark what has changed in our lives, and preserve the
            best of what we learned and created together during the Covid
            pandemic. Artists and creative organisations were commissioned in
            each of Scotland’s 32 local authority areas.
          </p>
          <Gallery
            images={[img1, img2, img3, img4]}
            galleryWraperClasses={'m3 pa-2 bt bb b--desert-300'}
            targetCellHeight={180}
            cellFormat={'square'}
            galleryUlClasses={'pa-0 list flex flex-wrap gap-2 justify-center'}
            cellLiClasses={'pa-0 ma-0 shadow-hover grow'}
            cellClasses={'pa-0 ma-0 bg-brand-purple br1'}
          />
          <p>
            In Dumfries & Galloway, <a href="../the-artists/"
              >Commissioned Artists</a
            > t s Beall and Katie Anderson worked with communities to collaboratively
            design and plant <i>The Dispersed Memorial Forest</i> across the region.
            The artists began working with communities in 2022, exploring how to
            remember and honour those impacted by Covid.
          </p>
          <p>
            Between July-December 2022 (<a href="../../about/phase-1">Phase 1</a
            >), the artists brought a sculptural <i>Tree of Remembrance</i> to large
            public events across D&G, and hosted smaller postcard-making workshops
            and conversational events with community groups – including NHS staff,
            unpaid carers, young people, and New Scots. These activities were designed
            to encourage people to share their experiences, and to help decide the
            shape of D&G’s Covid Memorial.
          </p>
          <Gallery
            images={[img5, img6, img7, img8]}
            galleryWraperClasses={'m3 pa-2 bt bb b--desert-300'}
            targetCellHeight={180}
            cellFormat={'square'}
            galleryUlClasses={'pa-0 list flex flex-wrap gap-2 justify-center'}
            cellLiClasses={'pa-0 ma-0 shadow-hover grow'}
            cellClasses={'pa-0 ma-0 bg-brand-purple br1'}
          />
          <p>
            In workshops and conversations during Phase 1, the artists spoke to
            over 800 people from towns and communities across the region.
            Through those conversations, three key elements for the memorial
            emerged, which were then collaboratively developed in <a
              href="../../about/phase-2">Phase 2</a
            >: <i>The Dispersed Memorial Forest</i>, a series of Tree Planting
            and Community Gathering events, and an Archive sharing stories of
            loss and resilience from across the region. The artists asked what
            people wanted to remember about lockdown, and what they wished they
            could forget, or let go of. Some of their answers, collected as a
            series of postcards and ribbons, are inscribed into the sculptural
            markers that are installed on each forest site.
          </p>

          <h3>Partners & Funders</h3>
          <p>
            <i>Remembering Together D&G</i> was commissioned by greenspace Scotland,
            DG Unlimited, and Dumfries and Galloway Council with funding from the
            Scottish Government. Site Partners for <i
              >The Dispersed Memorial Forest</i
            >
            include NHS Dumfries and Galloway and Dumfries and Galloway Health Board
            Endowment Fund, The Crichton Trust, Dumfries and Galloway Council, Moffat
            Community Nature Reserve, National Trust for Scotland Threave Estate,
            and Sanquhar Enterprise. Some of the trees planted in the Memorial Forest
            were purchased with the support of the Dumfries & Galloway Tree Planting
            Grant Scheme.
          </p>
          <br />
          <b>Learn more about the project:</b>
          <a href="../../about/phase-1">Phase 1</a> and
          <a href="../../about/phase-2">Phase 2</a>.
          <hr />
        </div>
        <!-- <div class="gallery__wrap">
          {
            collectionId && albumId ? (
              <Gallery
                collectionId={collectionId}
                albumId={albumId}
                galleryWraperClasses={'nt-4'}
                galleryUlClasses={
                  'pa-0 list flex flex-wrap gap-2 justify-center'
                }
                cellLiClasses={'pa-0 ma-0 shadow-hover grow'}
                cellClasses={'pa-0 ma-0 bg-brand-purple br1'}
              />
            ) : null
          }
        </div> -->
      </div>
    </div>
  </main>
</BaseLayout>
