---
// https://nominatim.org/release-docs/latest/api/Overview/
// https://nominatim.openstreetmap.org/ui/search.html?county=dumfries&country=UK&state=Scotland
// https://nominatim.openstreetmap.org/search.php?county=dumfries&country=UK&state=Scotland&polygon_geojson=1&format=jsonv2
// https://nominatim.openstreetmap.org/search.php?county=${county}&state=${state}&polygon_geojson=1&format=jsonv2
// stackoverflow.com/questions/65330045/drawing-boundaries-on-a-map-with-leafletjs

import OpenMap from '../../components/OpenMap.astro'
import BaseLayout from '../../layouts/BaseLayout.astro'
import {mapLocations, iconOpts} from '../../js/mapLocations'
import {type Location} from '../../components/OpenMap.astro'

// map center
const lat = 54.9248355
const lon = -3.948683

// locations
const locations: Location[] = mapLocations
---

<BaseLayout pageTitle="Test Gallery">
  <main id="main">
    <div class="container full-width">
      <h2>A basic map with a pin at the center lat lon:</h2>
      <OpenMap
        id="map"
        lat={lat}
        lon={lon}
        height="300px"
        classes="container"
        zoom="16"
        controls="true"
        icon={iconOpts}
        centericon="true"
      />
      <h2>A map with an array of location objects map:</h2>
      <OpenMap
        id="map2"
        lat={lat}
        lon={lon}
        height="400px"
        classes="container"
        zoom="8"
        controls="true"
        icon={iconOpts}
        locations={locations}
        geojson={`../visit/boundry.json`}
        geostyle={{
          fillColor: 'green',
          weight: 2,
          opacity: 1,
          color: 'green',
          fillOpacity: 0.05
        }}
      />
    </div>
  </main>
</BaseLayout>
