---
import BaseLayout from '../layouts/BaseLayout.astro'
import Card from '../components/Card.astro'

import Hero from '../components/Hero.astro'

const pageTitle = 'A Community Covid Memorial'
const bannerAlt =
  'Shallow of focus image of Remembering Together D&G event, with memory ribbons fluttering in the wind and event visitors gatehring arround a table in the background.'
import bannerImage from '../images/RememberingTogetherDG_imageGregorAnderson_croppedHorizontal.jpg'
const heroTitle =
  'The Dispersed Memorial Forest: <br> A Community Covid Memorial for <span class="nowrap-ns">Dumfries & Galloway</span>'
const heroText = `<p>Welcome to our future site and online archive.</p>
<p>This site will launch end of July.</p>
<p>More information about the project, and current events opening the Memorial Forest sites in Dumfries, Castle Douglas, Moffat, Sanquhar, and Stranraer is available at:</p>`
---

<BaseLayout
  pageTitle={pageTitle}
  bannerImage={bannerImage}
  bannerAlt={bannerAlt}
  maintenice={false}
>
  <main id="main">
    <div class="container full-width">
      <Hero
        wrapperClasses={['poly-1', 'mt-5', 'mb-4', 'pa-0', 'pl-1', 'pr-1']}
        innerClasses={['bg-brand-purple-dk', 'brand-lt', 'pa-3']}
        title={heroTitle}
        text={heroText}
        titleClasses={['f3', 'ma-0']}
        linkText="rememberingtogether.scot"
        linkHref="https://rememberingtogether.scot/dumfries-galloway"
        linkClasses={['btn', 'bg-forest-50', 'hover-bg-forest-900']}
      />
    </div>
    <!-- <div class="container">
      <ul role="list" class="link-card-grid">
        <Card
          href="https://"
          title="Documentation"
          body="Learn how Astro works and explore the official API docs."
        />
        <Card
          href="https://"
          title="Integrations"
          body="Supercharge your project with new frameworks and libraries."
        />
        <Card
          href="https://"
          title="Themes"
          body="Explore a galaxy of community-built starter themes."
        />
        <Card
          href="https://"
          title="Community"
          body="Come say hi to our amazing Discord community. ❤️"
        />
      </ul>
    </div> -->
  </main>
</BaseLayout>
