---
import {Card as RTCard} from 'accessible-astro-components'
import {Image} from 'astro:assets'
import type {ImageMetadata} from 'astro'
import {getImage} from 'astro:assets'
interface Props {
  url: string
  imgUrl?: string | ImageMetadata
  alt: string
  title: string
  footer?: string | HTMLElement | HTMLElement[]
  children?: string | HTMLElement | HTMLElement[]
}

const {
  url = '#',
  imgUrl = 'https://fakeimg.pl/640x360',
  alt,
  title,
  footer
} = Astro.props

const imgMobile = await getImage({
  src: imgUrl,
  format: 'webp',
  width: 200,
  height: 200
})

const imgDesktop = await getImage({
  src: imgUrl,
  format: 'webp',
  width: 640,
  height: 360
})
---

<div class="card">
  <header class="card__image">
    <picture>
      <source media="(max-width: 799px)" srcset={imgMobile.src} />
      <source media="(min-width: 800px)" srcset={imgDesktop.src} />
      <img src={imgDesktop.src} alt={alt} />
    </picture>
    <h3>
      <a href={url}>{title}</a>
    </h3>
  </header>
  <div class="card__content">
    <slot />
  </div>
  {footer ? <footer set:html={footer} /> : null}
</div>
