---
import type {ImageMetadata} from 'astro'
import {getImage} from 'astro:assets'

interface Props {
  url: string
  imgUrl?: string | ImageMetadata
  alt: string
  title: string
  heading?: 'h1' | 'h2' | 'h3' | 'h4' | 'h5' | 'h6'
  footer?: string | HTMLElement | HTMLElement[]
  children?: string | HTMLElement | HTMLElement[]
  wrapClasses?: string
  headerClasses?: string
  headingWrapClasses?: string
  headingClasses?: string
  footerClasses?: string
  contentClasses?: string
}

const {
  url = '#',
  imgUrl,
  alt,
  title,
  heading = 'h3',
  footer,
  wrapClasses = '',
  headerClasses = '',
  headingWrapClasses = '',
  headingClasses = '',
  contentClasses = '',
  footerClasses = ''
} = Astro.props

const Heading = heading

const imgMobile = await getImage({
  src: imgUrl,
  format: 'webp',
  width: 200,
  height: 200
})

const imgDesktop = await getImage({
  src: imgUrl,
  format: 'webp',
  width: 400,
  height: 100
})
---

<div class=`card ${wrapClasses}`>
  <header class=`card__head ${headerClasses}`>
    <picture>
      <source media="(max-width: 799px)" srcset={imgMobile.src} />
      <source media="(min-width: 800px)" srcset={imgDesktop.src} />
      <img src={imgDesktop.src} alt={alt} />
    </picture>
    <div
      class=`card__heading--wrap ${headingWrapClasses}`
    >
      <Heading class=`card__heading ${headingClasses}`>
        <a href={url}>{title}</a>
      </Heading>
    </div>
  </header>
  <div class=`card__content ${contentClasses}`>
    <slot />
  </div>
  {footer ? <footer class=`card__footer ${footerClasses}` set:html={footer} /> : null}
</div>

<style is:global>
  .card {
    box-shadow: var(--shadow-3);
  }

  .card__head {
    background-color: var(--brand-teal);

    picture {
      z-index: 0;
      max-height: 150px;
      object-fit: cover;
      overflow: hidden;
      inline-size: 100%;
    }
  }

  .card__heading--wrap {
    background: var(--header-img-gradent);
    inset-block-end: 0;
  }
</style>
