---
import {link} from 'fs'

interface Props {
  title?: string
  titleClasses?: Array<string>
  Heading?: 'h1' | 'h2' | 'h3' | 'h4' | 'h5' | 'h6'
  text?: string
  wrapperClasses?: Array<string>
  innerClasses?: Array<string>
  linkClasses?: Array<string>
  linkText?: string
  linkHref?: string
  bgCover?: string
}
const lipsum = `Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam minima
                voluptas dolorem placeat quae laborum voluptatem, alias pariatur nulla
                quis temporibus quisquam laboriosam molestiae quod! Ad est minima
                inventore obcaecati?`

const {
  title = 'Hero Text',
  Heading = 'h1',
  titleClasses = ['f3'],
  text = lipsum,
  wrapperClasses = ['full-width'],
  innerClasses = ['ma-4', 'ml-5', 'mr-5', 'flex'],
  linkClasses = ['btn'],
  linkText = 'Learn more!',
  linkHref = '#'
} = Astro.props
---

<section class={`hero ${wrapperClasses.join(' ')}`} aria-label={title}>
  <div class={`hero__inner ${innerClasses.join(' ')}`}>
    <div class="hiro__cols ma-4 ml-5 mr-5 flex">
      <div class="hiro__cols-left flex flex-column">
        {
          title && (
            <header>
              <Heading class={titleClasses.join(' ')} set:html={title} />
            </header>
          )
        }
        <p set:html={text} />
        <a href={linkHref} class={linkClasses.join(' ')} set:html={linkText} />
      </div>
      <div class="hiro__cols-right flex flex-column"><slot /></div>
    </div>
  </div>
</section>

<style>
  .hero {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    inline-size: 100%;
    max-inline-size: var(--width-max-content, 1042px);

    /* margin: 0.5em auto; */

    /* padding: 0 1em; */
  }

  .hiro__cols-right:empty {
    min-inline-size: 20%;
  }

  .hero * + * {
    margin-block-start: 0.5em;
  }
</style>
