---
import {Icon} from 'astro-icon/components'

interface Props {
  w3w: string
  lat: number
  lon: number
  siteInfo?: string
  address?: string
  website?: string
  phone?: string
  hours?: string
  food?: string
  bathrooms?: string
  accessible?: string
  transport?: string
  bicycles?: string
  parking?: string
}
const {
  w3w,
  lat,
  lon,
  siteInfo,
  address,
  website,
  phone,
  hours,
  food,
  bathrooms,
  accessible,
  parking,
  bicycles,
  transport
} = Astro.props
---

<section class="location__sidebar bg-brand-purple-dk poly-1 mw-100">
  <div class="location__sidebar--content ma-4">
    <h2 class="f2 sans">Getting There</h2>
    <ul
      class="list location__sidebar--list grid gap-2 justify-self-start items-start"
    >
      <li class="info-item maps justify-self-start">
        <Icon name="material-symbols-light:map-sharp" />
        <ul class="map-items list grid justify-self-start">
          {
            w3w && (
              <li class="w3w">
                <strong>What 3 Words:</strong>{' '}
                <a class="di-underline-hover" href={`https://w3w.co/${w3w}`}>
                  {w3w}
                </a>
                <Icon name="material-symbols-light:open-in-new" />
              </li>
            )
          }
          <li class="open-street-map">
            <strong>Open Street Map:</strong>
            <a
              class="di-underline-hover"
              href={`https://www.openstreetmap.org/#map=18/${lat}/${lon}&layers=H`}
              target="_blank">{lat}, {lon}</a
            >
            <Icon name="material-symbols-light:open-in-new" />
          </li>
        </ul>
      </li>
      <li class="w-100">
        <address>
          <ul class="list ma-0 grid gap-2">
            {
              address && (
                <li class="info-item address m">
                  <Icon name="material-symbols-light:location-on" />
                  <div class="item-subject">{address}</div>
                </li>
              )
            }
            {
              website && (
                <li class="info-item website">
                  <Icon name="material-symbols-light:globe-uk-sharp" />
                  <div class="item-subject">
                    <a class="di-underline-hover" href={website}>
                      {website}
                    </a>
                    <Icon name="material-symbols-light:open-in-new" />
                  </div>
                </li>
              )
            }
            {
              phone && (
                <li class="info-item phone">
                  <Icon name="material-symbols-light:call" />
                  <div class="item-subject">
                    <a class="di-underline-hover" href={`tel:${phone}`}>
                      {phone}
                    </a>
                  </div>
                </li>
              )
            }
          </ul>
        </address>
      </li>
      {
        hours && (
          <li class="info-item hours">
            <Icon name="material-symbols-light:nest-clock-farsight-analog-outline" />
            <div class="item-subject">{hours}</div>
          </li>
        )
      }
      {
        food && (
          <li class="info-item food">
            <Icon name="material-symbols-light:coffee-rounded" />
            <div class="item-subject">{food}</div>
          </li>
        )
      }
      {
        bathrooms && (
          <li class="info-item bathrooms">
            <Icon name="material-symbols-light:family-restroom-rounded" />
            <div class="item-subject">{bathrooms}</div>
          </li>
        )
      }
      {
        accessible && (
          <li class="info-item accessible">
            <Icon name="material-symbols-light:accessible-forward-rounded" />
            <div class="item-subject">{accessible}</div>
          </li>
        )
      }
      {
        parking && (
          <li class="info-item parking">
            <Icon name="material-symbols-light:local-parking-rounded" />
            <div class="item-subject">{parking}</div>
          </li>
        )
      }
      {
        transport && (
          <li class="info-item transport">
            <Icon name="material-symbols-light:train-outline" />
            <div class="item-subject">{transport}</div>
          </li>
        )
      }
      {
        bicycles && (
          <li class="info-item bicycles">
            <Icon name="material-symbols-light:directions-bike" />
            <div class="item-subject">{bicycles}</div>
          </li>
        )
      }
      {
        siteInfo && (
          <li class="info-item site-info">
            <Icon name="material-symbols-light:info-outline" />
            <div class="item-subject">
              {siteInfo}
              <br />
              <i class="f6 dib mt-2">
                –– Opening and access times subject to change without notice;
                where possible visit the website or phone ahead to avoid
                dissappointment.
              </i>
            </div>
          </li>
        )
      }
    </ul>
  </div>
</section>
<style>
  ul,
  li {
    padding: 0;
  }
  .location__sidebar {
    padding: 1rem;
    color: var(--brand-lt);
  }

  a {
    word-wrap: break-word;
  }
  a + [data-icon] {
    display: inline-block;
    font-size: 1rem;
    width: 1rem;
    height: 1rem;
    margin-block-end: -2px;
    color: var(--brand-lt);
  }

  a,
  a:visited {
    color: currentColor;
  }
  [data-icon] {
    width: 30px;
    height: 30px;
    color: var(--brand-lt);
  }

  .location__sidebar--list {
    /* display: grid; */
    grid-template-columns: 1fr;
    /* justify-items: self-start;
    align-items: center; */
  }

  .info-item {
    display: grid;
    align-items: start;
    justify-items: start;
    grid-template-columns: minmax(0, 30px) minmax(0, 1fr);
    column-gap: 0.8rem;
    width: 100%;
  }

  .info-item:not(.maps) > *:first-child {
    margin-block-start: 0.5rem;
  }
  .item-subject {
    width: 100%;
    padding-block-start: 0.5rem;
    border-block-start: 1px solid var(--white-o-20);
  }

  .map-items {
    margin: 0;
  }
</style>
