---
import {Image} from 'astro:assets'

import CommunityPlanning from '../images/logos/CommunityPlanningPartnership/Community-Planning-transparent.png'
import DGCouncil from '../images/logos/DGCouncil/D&G-Council-White-reversal.png'
import DGUnlimited from '../images/logos/DGUnlimited/DGU_Master_Logo_Square_Transparent_RGB.png'
import Greenspace from '../images/logos/Greenspace/gs-small/GS-LOGO-RGB.png'
import ScotGov from '../images/logos/ScottishGoverment/SG_Dual_linear_WHITE.png'

interface Props {
  logjamHeight?: number
}

const {logjamHeight = 32} = Astro.props
---

<nav class="logjam pa-2">
  <ul
    class="pa-0 ma-0 list items-center gap-4 flex-wrap flex items-start justify-center"
  >
    <li>
      <a href="https://www.greenspacescotland.org.uk/"
        ><Image
          src={Greenspace}
          alt="Greenspace Scotland"
          height={logjamHeight}
        /></a
      >
    </li>
    <li>
      <a href="https://dgunlimited.org/"
        ><Image src={DGUnlimited} alt="DG Unlimited" height={logjamHeight} /></a
      >
    </li>
    <li>
      <a href="https://www.dumgal.gov.uk/"
        ><Image
          src={DGCouncil}
          alt="Dumfries & Galloway Council"
          height={logjamHeight}
        /></a
      >
    </li>
    <li>
      <a href="https://www.dumgal.gov.uk/communityplanning/"
        ><Image
          src={CommunityPlanning}
          alt="Community Planning Partnership"
          height={logjamHeight}
        /></a
      >
    </li>
    <li>
      <a href="https://www.gov.scot/"
        ><Image
          src={ScotGov}
          alt="Scotish Government"
          height={logjamHeight}
        /></a
      >
    </li>
  </ul>
</nav>

<style>
  .logjam a {
    display: inline-flex;
    color: var(--brand-surface-1);
  }
</style>
