---
interface Props {
  style?: string
  width?: string
  height?: string
  lat: number
  lon: number
  zoom?: string
  classes?: string
}

const {
  style = 'border  : 1px solid var(--brand-surface-1);',
  lat = -3.6107,
  lon = 55.0691,
  zoom = '19',
  width = '100%',
  height = '350px',
  classes = ''
} = Astro.props
---

<>
  <open-map
    id="map"
    style={style}
    class={classes}
    data-lon={lon}
    data-lat={lat}
    data-zoom={zoom}
  >
  </open-map>
</>

<script>
  import L from 'leaflet/dist/leaflet'
  import 'leaflet/dist/leaflet.css'
  import iconImg from 'leaflet/dist/images/marker-icon.png'
  class OpenMap extends HTMLElement {
    constructor() {
      super()
      const {lon, lat, zoom} = this.dataset
      const mapOptions = {
        center: [lon, lat],
        zoom: '15'
      }
      const map = L.map('map', mapOptions)
      const layer = new L.TileLayer(
        'https://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png',
        {
          maxZoom: 19,
          attribution:
            '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap: Tiles by Humanitarian</a>'
        }
      )
      const icon = L.icon({
        iconUrl: iconImg.src
      })
      L.marker([lon, lat], {icon}).addTo(map)
      map.addLayer(layer)
    }
  }

  customElements.define('open-map', OpenMap)
</script>

<style define:vars={{width, height}} is:global>
  .leaflet-control-attribution {
    font-size: 10px;
  }

  #map .leaflet-attribution-flag {
    display: none !important;
  }

  #map {
    display: block;
    width: var(--width);
    height: var(--height);
    margin-block-end: var(--spacing-4);
  }
</style>
