---
import LocationIndexLayout from '../../layouts/LocationsIndexLayout.astro'
import Card from '../../components/Card.astro'
const bannerImage =
  '../images/RememberingTogetherDG_imageGregorAnderson_croppedHorizontal.jpg'
const bannerAlt =
  'Ribbon image of Remembering Together D&G event, with memory ribbons fluttering in the wind and event visitors gating arround a table in the background.'
import castledouglas from '../../images/castle-douglas-banner.jpg'
import dumfries from '../../images/remembering_together_dumfries_celebration_72dpi-38.jpg'
import moffat from '../../images/remembering_together_celebration_moffat_72dpi-16.jpg'
import sanquhar from '../../images/sanquhar-visit-banner.jpg'
import stranraer from '../../images/stranraer-visit-banner.jpg'
const flourishClasses = ['--greywillow', 'dropcap', '--dc-cerise-800']

const frontmatter = {
  pageTitle: 'Visit',
  bannerImage,
  bannerHeight: 350,
  bannerAlt,
  flourishClasses
}
---

<LocationIndexLayout {frontmatter}>
  <h2>Visiting the Dispersed Memorial Forest for Dumfries and Galloway</h2>

  <br />

  <p>
    <b>The Memorial Forest is planted</b>
    across Dumfries and Galloway in <a class="link" href="./castle-douglas"
      >Castle Douglas</a
    >, <a class="link" href="./dumfries">Dumfries</a>, <a
      class="link"
      href="./moffat">Moffat</a
    >, <a class="link" href="./sanquhar">Sanquhar</a>, and <a
      class="link"
      href="./stranraer">Stranraer</a
    >. Some of the sites are urban, some rural – and together they form the
    community covid memorial for the region.
  </p>
  <p>
    The number of trees planted on each site was determined by the site itself,
    in collaboration with local communities and site partners. The type of
    native trees planted was also decided in collaboration with local partners,
    and as recommended by <a class="link" href="https://www.treesurv.co.uk/"
      >TreeSurv</a
    > (our tree-planting consultants) in consideration of which species of trees
    could thrive on each site.
  </p>
  <br />
  <h3>Visit D&G’s Covid Memorial</h3>
  <p>
    More information about each location, including maps and directions, is
    available on the following pages:
  </p>
  <div class="cards__wrap">
    <ul class="flex flex-wrap justify-center list pa-0">
      <li class="grow card_wrap">
        <a href="../visit/castle-douglas">
          <Card
            title="Visit Castle Douglas"
            imgUrl={castledouglas}
            alt=""
            headerHeight="200px"
            imagePosition="center 17%"
            alt="Katie Anderson, and ts Beall"
            wrapClasses="relative grid ma-2 bg-surface-1 br2 overflow-hidden shadow-1 link  "
            headerClasses="relative flex-column flex justify-end bg-brand-teal-dk relative br-2"
            headingWrapClasses="absolute w-100 pl-1 pl-2-ns pl-3-l header-img-gradent"
            headingClasses="f3 brand-yellow-lt ma-2"
          />
        </a>
      </li>
      <li class="grow card_wrap">
        <a href="../visit/dumfries">
          <Card
            title="Visit Dumfries"
            imgUrl={dumfries}
            alt=""
            headerHeight="200px"
            imagePosition="center 17%"
            wrapClasses="grid ma-2 bg-surface-1 br2 overflow-hidden shadow-1"
            headerClasses="relative flex-column flex justify-end bg-brand-teal-dk relative br-2"
            headingWrapClasses="absolute w-100 pl-1 pl-2-ns pl-3-l header-img-gradent"
            headingClasses="f3 brand-yellow-lt ma-2"
          />
        </a>
      </li>
      <li class="grow card_wrap">
        <a href="../visit/moffat">
          <Card
            title="Visit Moffat"
            imgUrl={moffat}
            alt=""
            headerHeight="200px"
            imagePosition="center 17%"
            wrapClasses="grid ma-2 bg-surface-1 br2 overflow-hidden shadow-1"
            headerClasses="relative flex-column flex justify-end bg-brand-teal-dk relative br-2"
            headingWrapClasses="absolute w-100 pl-1 pl-2-ns pl-3-l header-img-gradent"
            headingClasses="f3 brand-yellow-lt ma-2"
          />
        </a>
      </li>
      <li class="grow card_wrap">
        <a href="../visit/sanquhar">
          <Card
            title="Visit Sanquhar"
            imgUrl={sanquhar}
            alt=""
            headerHeight="200px"
            imagePosition="center 0%"
            wrapClasses="grid ma-2 bg-surface-1 br2 overflow-hidden shadow-1"
            headerClasses="relative flex-column flex justify-end bg-brand-teal-dk relative br-2"
            headingWrapClasses="absolute w-100 pl-1 pl-2-ns pl-3-l header-img-gradent"
            headingClasses="f3 brand-yellow-lt ma-2"
          />
        </a>
      </li>
      <li class="grow card_wrap">
        <a href="../visit/stranraer">
          <Card
            title="Visit Stranraer"
            imgUrl={stranraer}
            alt=""
            headerHeight="200px"
            imagePosition="center 0%"
            wrapClasses="grid ma-2 bg-surface-1 br2 overflow-hidden shadow-1"
            headerClasses="relative flex-column flex justify-end bg-brand-teal-dk relative br-2"
            headingWrapClasses="absolute w-100 pl-1 pl-2-ns pl-3-l header-img-gradent"
            headingClasses="f3 brand-yellow-lt ma-2"
          />
        </a>
      </li>
    </ul>
  </div>
</LocationIndexLayout>
<style>
  .card_wrap {
    max-width: 300px;
  }
</style>
