---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import sluggo from '../js/sluggo'
interface Props {
  pageTitle: string
  bannerImage?: ImageMetadata
  bannerAlt?: string
  maintenice?: boolean
}

const {pageTitle, bannerImage, bannerAlt, maintenice} = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Remembering Together D&G - A Community Covid Memorial for Dumfries and Galloway."
    />
    <meta name="viewport" content="width=device-width" initial-scale='1.0"/' />
    <meta
      name="theme-color"
      content="#414449"
      media="(prefers-color-scheme: light)"
    />
    <meta
      name="theme-color"
      content="#414449"
      media="(prefers-color-scheme: dark)"
    />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body class={`no-js ${sluggo(pageTitle)}`}>
    <Header
      title={pageTitle}
      bannerImage={bannerImage}
      bannerAlt={bannerAlt}
      maintenice={maintenice}
    />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  /*
    @import "open-props/style";
    @import "open-props/normalize";
    @import "open-props/buttons";
    */

  @import url('../styles/tachyons.css');
  @import url('../styles/vars.css');
  @import url('../styles/base.css');
  @import url('../styles/atoms.css');
  @import url('../styles/fonts.css');
  @import url('../styles/typography.css');
  @import url('photoswipe/style.css');
</style>

<script>
  // Remove the 'no-js' class the body when the document is ready
  document.body.classList.remove('no-js')
  document.body.classList.add('js')
</script>
