---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import sluggo from '../js/sluggo'
import CanonicalHead from '../components/CanonicalHead.astro'
interface Props {
  pageTitle: string
  bodyClasses?: string
  bannerImage?: ImageMetadata
  bannerHeight?: number
  bannerAlt?: string
  maintenice?: boolean
  ogThunmbnail?: ImageMetadata
}

const {
  pageTitle,
  bodyClasses = '',
  bannerImage,
  bannerHeight,
  bannerAlt,
  maintenice,
  ogThunmbnail
} = Astro.props

// og LinkedIn: 1200 x 627    // https://www.linkedin.com/help/linkedin/answer/a521928
// og FB: 1200 x 630          // https://developers.facebook.com/docs/sharing/webmasters/images/
// og twitter: 1200 x 675    // https://developer.x.com/en/docs/twitter-for-websites/cards/overview/summary (NOT OG)
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Dispersed Memorial Forest D&G | {pageTitle}</title>
    <meta
      name="description"
      content="Remembering Together D&G - A Community Covid Memorial for Dumfries and Galloway, Scotland."
    />
    <meta name="viewport" content="width=device-width" initial-scale='1.0"/' />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self' memorialforestdg.github.io memorialforestdg.co.uk;
      img-src 'self' *;
      frame-src youtube.com www.youtube.com player.vimeo.com www.vimeo.com;"
    />
    <meta
      name="theme-color"
      content="#414449"
      media="(prefers-color-scheme: light)"
    />
    <meta
      name="theme-color"
      content="#414449"
      media="(prefers-color-scheme: dark)"
    />
    <CanonicalHead />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_GB" />
    <meta property="og:site_name" content="Dispersed Memorial Forest D&G" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body class={`no-js ${bodyClasses} ${sluggo(pageTitle)}`}>
    <Header
      title={pageTitle}
      bannerImage={bannerImage}
      bannerHeight={bannerHeight}
      bannerAlt={bannerAlt}
      maintenice={maintenice}
    />
    <slot />
    <Footer />
    <style is:global>
      @import url('../styles/fonts.css');
      @import url('../styles/base.css');
      @import url('../styles/printstyles.css');
    </style>
    <script>
      // Remove the 'no-js' class the body when the document is ready
      document.body.classList.remove('no-js')
      document.body.classList.add('js')
      document.documentElement.style.setProperty(
        '--page-url',
        `"${window.location.href}"`
      )
    </script>
  </body>
</html>
