---
import Flourish from '../components/Flourish.astro'
import OpenMap from '../components/OpenMap.astro'
import BaseLayout from './BaseLayout.astro'
const {frontmatter} = Astro.props
const {pageTitle, bannerImage, bannerAlt, flourishClasses, w3w, siteInfo} =
  frontmatter

// https://markjames.dev/blog/dynamically-importing-images-astro
const images = import.meta.glob<{default: ImageMetadata}>(
  '../images/**/*.{png,PNG,jpg,JPG,jpeg,svg,webp,avif}'
)
const banner = images[bannerImage] ? await images[bannerImage]() : (null as any)
const BannerImage = banner.default as ImageMetadata
---

<BaseLayout
  pageTitle={pageTitle}
  bannerImage={BannerImage}
  bannerAlt={bannerAlt}
>
  <main id="main">
    <div class="container full-width">
      <div class="markdown-content measure-3 pt-4">
        <OpenMap />
        <Flourish classes={flourishClasses}>
          <slot />
        </Flourish>
      </div>
    </div>
  </main>
</BaseLayout>
