---
import Flourish from '../components/Flourish.astro'
import Gallery from '../components/Gallery.astro'
import BaseLayout from './BaseLayout.astro'
import {type ImageMetadata} from 'astro'
import {type DataEntryMap} from 'astro:content'
interface Props {
  frontmatter: {
    pageTitle: string
    bannerImage?: string
    bannerHeight?: number
    bannerAlt?: string
    flourishClasses?: Array<string>
    collectionId?: keyof DataEntryMap
    albumId?: string
  }
}

const {
  pageTitle,
  bannerImage = '',
  bannerHeight,
  bannerAlt,
  flourishClasses,
  collectionId,
  albumId
} = Astro.props.frontmatter

const images = import.meta.glob<{default: ImageMetadata}>(
  '../images/**/*.{png,PNG,jpg,JPG,jpeg,svg,webp,avif}'
)
const banner = images[bannerImage] ? await images[bannerImage]() : (null as any)
const BannerImage = banner?.default as ImageMetadata
---

<BaseLayout
  pageTitle={pageTitle}
  bannerImage={BannerImage}
  bannerHeight={bannerHeight}
  bannerAlt={bannerAlt}
>
  <main id="main">
    <div class="container stack">
      <div class="stack pl-5-ns pr-5-ns pt-4-ns">
        <div class="markdown-content">
          <Flourish classes={flourishClasses}>
            <slot />
            <hr />
          </Flourish>
          <div class="gallery__wrap">
            {
              collectionId && albumId ? (
                <Gallery
                  collectionId={collectionId}
                  albumId={albumId}
                  galleryWraperClasses={'nt-4'}
                  galleryUlClasses={
                    'pa-0 list flex flex-wrap gap-2 justify-center'
                  }
                  cellLiClasses={'pa-0 ma-0 shadow-hover grow'}
                  cellClasses={'pa-0 ma-0 bg-brand-purple br1'}
                />
              ) : null
            }
          </div>
        </div>
      </div>
    </div>
  </main>
</BaseLayout>
