---
import Breadcrumbs from '~/components/Breadcrumbs.astro'
import Card from '~/components/Card.astro'
import Flourish from '~/components/Flourish.astro'
import BaseLayout from '~/layouts/BaseLayout.astro'

import castledouglas from '../../images/banners/castle-douglas-events-banner.jpg'
import dumfries from '../../images/banners/dumfres-events-banner.jpg'
import bannerImage from '../../images/banners/events-banner.jpg'
import moffat from '../../images/banners/moffat-events-banner.jpg'
import sanquhar from '../../images/banners/sanquhar-events-banner.jpg'
import stranraer from '../../images/banners/stranraer-events-banner.jpg'

const bannerAlt =
  'Ribbon image of Remembering Together D&G event, with memory ribbons fluttering in the wind and event visitors gating arround a table in the background.'
const flourishClasses = ['--greywillow', 'dropcap', '--dc-cerise-800']
---

<BaseLayout pageTitle="Events" bannerImage={bannerImage} bannerAlt={bannerAlt}>
  <main id="main">
    <div class="container stack">
      <div class="stack pl-5-ns pr-5-ns pt-4-ns">
        <Breadcrumbs />
        <h2>The Dispersed Memorial Forest: Planting & Events</h2>
        <Flourish classes={flourishClasses}>
          <p>
            <b>Once the sites for the Dispersed Memorial had been identified</b>
            in <a href="./about/phase-2" class="link">Phase 2</a>, each site
            held commuinty planting events and a celebration to unveil the
            markers, complete with music, poetery, food, and of course,
            speeches.
          </p>
          <p>Visit the following pages for the full story:</p>
        </Flourish>
        <div class="cards__wrap">
          <ul class="flex flex-wrap justify-center list pa-0">
            <li class="grow card_wrap">
              <a href="./castle-douglas">
                <Card
                  title="Castle Douglas"
                  imgUrl={castledouglas}
                  alt=""
                  headerHeight="150px"
                  imagePosition="center 17%"
                  alt="Katie Anderson, and ts Beall"
                  wrapClasses="relative grid ma-2 bg-surface-1 br2 overflow-hidden shadow-1 link  "
                  headerClasses="relative flex-column flex justify-end bg-brand-teal-dk relative br-2"
                  headingWrapClasses="absolute w-100 pl-3 header-img-gradent"
                  headingClasses="f3 brand-yellow-lt ma-2"
                />
              </a>
            </li>
            <li class="grow card_wrap">
              <a href="./dumfries">
                <Card
                  title="Dumfries"
                  imgUrl={dumfries}
                  alt=""
                  headerHeight="150px"
                  imagePosition="center 17%"
                  wrapClasses="grid ma-2 bg-surface-1 br2 overflow-hidden shadow-1"
                  headerClasses="relative flex-column flex justify-end bg-brand-teal-dk relative br-2"
                  headingWrapClasses="absolute w-100 pl-3 header-img-gradent"
                  headingClasses="f3 brand-yellow-lt ma-2"
                />
              </a>
            </li>
            <li class="grow card_wrap">
              <a href="./moffat">
                <Card
                  title="Moffat"
                  imgUrl={moffat}
                  alt=""
                  headerHeight="150px"
                  imagePosition="center 17%"
                  wrapClasses="grid ma-2 bg-surface-1 br2 overflow-hidden shadow-1"
                  headerClasses="relative flex-column flex justify-end bg-brand-teal-dk relative br-2"
                  headingWrapClasses="absolute w-100 pl-3 header-img-gradent"
                  headingClasses="f3 brand-yellow-lt ma-2"
                />
              </a>
            </li>
            <li class="grow card_wrap">
              <a href="./sanquhar">
                <Card
                  title="Sanquhar"
                  imgUrl={sanquhar}
                  alt=""
                  headerHeight="150px"
                  imagePosition="center 17%"
                  wrapClasses="grid ma-2 bg-surface-1 br2 overflow-hidden shadow-1"
                  headerClasses="relative flex-column flex justify-end bg-brand-teal-dk relative br-2"
                  headingWrapClasses="absolute w-100 pl-3 header-img-gradent"
                  headingClasses="f3 brand-yellow-lt ma-2"
                />
              </a>
            </li>
            <li class="grow card_wrap">
              <a href="./stranraer">
                <Card
                  title="Stranraer"
                  imgUrl={stranraer}
                  alt=""
                  headerHeight="150px"
                  imagePosition="center 17%"
                  wrapClasses="grid ma-2 bg-surface-1 br2 overflow-hidden shadow-1"
                  headerClasses="relative flex-column flex justify-end bg-brand-teal-dk relative br-2"
                  headingWrapClasses="absolute w-100 pl-3 header-img-gradent"
                  headingClasses="f3 brand-yellow-lt ma-2"
                />
              </a>
            </li>
          </ul>
        </div>
        <div class="aspect-ratio--16x9 pt-2 pb-2">
          <iframe
            title="vimeo-player"
            src="https://player.vimeo.com/video/1054191704?h=22d720a2bc"
            width="100%"
            height="360"
            frameborder="0"
            allowfullscreen></iframe>
        </div>
        <hr />
        <p>
          <b>Visiting:</b>
          <a href="../visit/" class="link"
            >Follow this link to learn how you can visit the Dispersed Memorial
            Forest.</a
          >
        </p>
      </div>
    </div>
  </main>
</BaseLayout>
<style is:global>
  .card__wrap:focus-within {
    outline: 1px solid #000;
  }

  @media (max-width: 800px) {
    .card {
      width: 250px;
      max-width: 100%;
    }

    .card__head picture,
    .card__head picture > * {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @media (max-width: 300px) {
    .card {
      width: 100%;
    }
  }
</style>
